.navbar {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to right,
    rgba(4, 25, 62, 1),
    rgba(4, 25, 62, 1)
  );
  color: #fff;
  padding: 0 40px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

/* Logo */
.logo {
  width: 180px;
}

/* Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-links li a {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

/* Hover Underline */
.nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #f16c20;
  transition: width 0.3s ease;
}

.nav-links li a:hover::after,
.nav-links li a.active::after {
  width: 100%;
}

/* Right Button */
.contact-btn {
  background-color: #f16c20;
  padding: 10px 24px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}

.contact-btn:hover {
  background-color: #d55a1c;
}


/* =================== */
/* RESPONSIVE DESIGN */
/* =================== */

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 6px;
  z-index: 1100;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: #fff;
  transition: 0.3s;
}

/* Hamburger Animation */
.hamburger.open span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

@media (max-width: 900px) {
  .nav-links {
    position: fixed;
    top: 90px;
    right: 0;              /* stick to right edge */
    width: 50%;            /* menu width */
    height: 50vh;
    background: linear-gradient(
    to right,
    rgba(4, 25, 62, 1),
    rgba(4, 25, 62, 1)
  );
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    opacity: 0;
    transform: translateX(100%); /* hidden to the right */
    transition: transform 0.4s ease, opacity 0.3s ease;
    z-index: 999;
  }

  .nav-links.show {
    opacity: 1;
    transform: translateX(0); /* slide IN from right */
  }

  .nav-right {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}
